@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/junegull');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.mainlogo{
    font-family: 'Junegull', sans-serif;
    font-weight: 400;
    color: #f28321;
    letter-spacing: 7px;
    text-transform: uppercase;
}

@media (max-width: 480px) {
    .mainlogo{
        letter-spacing: 2px;
    }
}

.logo p{
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 2px;
}

.profile-img{
    clip-path: circle();
    max-width: 70%;
}

.active {
    color: #f28321;
}

.pending{
    @apply text-slate-600;
}

.about-btn{
    font-family: 'Junegull', sans-serif;
    font-size: 20px;
    padding: 10px 14px;
    font-weight: 400;
    border: 2px solid #f28321;
    color: #f28321;
    margin-top: 24px;
}

.about-btn:hover{
    border: 2px solid #f48d34;
    color: #f7a965;
}

.body-content{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: 400px;
}

@media (max-width: 1100px) {
    .body-content{
        height: 300px;
    }
}